---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout>
	<div class="l-site">
		<Header />
		<main>
			<Hero />
		</main>
	</div>
</Layout>

