<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            <img src=`${import.meta.env.BASE_URL}/images/logo.svg` alt="Bergen Landhockeyklubb logo" />
        </div>
    </div>
</header>
