<header class="header">
    <div class="header__inner">
        <a class="header__logo" href="/">
            <img src="public/images/logo.svg" />
        </a>
        <!-- <div class="header__actions">
            <nav class="main-nav">
                <ul class="main-nav__list">
                    {
                        (
                            <li class="main-nav__item">
                                <a href="/training" class="main-nav__link">
                                    <span>training</span>
                                </a>
                            </li>
                        )
                    }
                </ul>
            </nav>
        </div> -->
    </div>
</header>
