---
interface Props {
    videoSrc: string;
}

const { videoSrc } = Astro.props;
---

<div class="hero">
    <video class="hero__image" autoplay loop muted playsinline>
        <source src={videoSrc} type="video/webm" />
    </video>
    <div class="hero__overlay">
        <img src="images/logotype.svg" alt="Bergen Landhockeyklubb logo" />
    </div>
</div>
