---
interface Props {
	title: string;
	content: string;
    videoSrc: string;
}

const { title, content, videoSrc } = Astro.props;
---

<div class="hero">
    <div class="hero__text">
        <h1 class="hero__title">{title}</h1>
        <p class="hero__intro">
            {content}
        </p>
    </div>
    <video class="hero__image" autoplay loop muted playsinline>
        <source src={videoSrc} type="video/webm" />
    </video>
</div>
