---
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import { getSectionColor } from '../utils/sectionColors';

interface Props {
    section: CollectionEntry<"sections">
}

const { section } = Astro.props;
const { Content } = await render(section);

const styles = getSectionColor(section.data.order);
---

<div class="section" style={{ background: `var(${styles?.bgColor})`, color: `var(${styles?.textColor})` }}>
    <div class="section__text">
        <h2 class="section__title">{section.data.title}</h1>
        <Content class="section__content" />
    </div>
</div>
