---
import '../styles/global.css';

interface Props {
	titlePostfix?: string;
}

const { titlePostfix } = Astro.props;

const orgName = "Bergen Landhockey"
const title = titlePostfix ? `${orgName} | ${titlePostfix}` : orgName
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Bergen Landhockey" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
